<main class="relative overflow-hidden pt-20">
    <div class="max-w-4xl mx-auto py-10">
        <h1 class="text-4xl font-bold mb-6 text-center text-indigo-700">¡Sé parte de la experiencia Madu!</h1>

        <p class="text-center mb-8">
            Con nuestro software integral de gestión de personas centralizas todas tus tareas en una sola plataforma:
            desde
            el pago de remuneraciones, hasta el desarrollo profesional de tus colaboradores.
        </p>

        <div class="flex flex-col md:flex-row justify-between">
            <!-- Izquierda -->
            <div class="w-full md:w-1/2 px-4">
                <div class="mb-4">
                    <h2 class="font-bold text-xl mb-4 text-indigo-700">Agenda una llamada</h2>
                    <p>Expertos te orientarán de manera personalizada a encontrar las mejores soluciones que se adapten
                        a
                        tus necesidades.</p>
                </div>
                <div class="mb-4">
                    <h2 class="font-bold text-xl mb-4 text-indigo-700">Súmate a la experiencia</h2>
                    <p>Durante la implementación, especialistas te acompañarán para que conozcas y seas un experto en tu
                        plataforma Madu.</p>
                </div>
                <div class="mb-4">
                    <h2 class="font-bold text-xl mb-4 text-indigo-700">Crea un lugar de trabajo más feliz</h2>
                    <p>¡Vive la experiencia Madu, fortalece tu cultura organizacional y gestiona tu activo más valioso,
                        las
                        personas!</p>
                </div>
            </div>

            <!-- Columna derecha - Formulario -->
            <div class="w-full md:w-1/2 px-4">
                <form [formGroup]="contactForm" (ngSubmit)="onSubmit()"
                    class="space-y-4 bg-gray-100 shadow-md rounded-lg p-6">
                    <!-- Grid de nombre y apellido -->
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
                        <!-- Nombre -->
                        <div class="form-group">
                            <label class="block text-sm font-bold mb-2" for="name">Nombre</label>
                            <input type="text" formControlName="name" placeholder="Tu Nombre*"
                                class="w-full p-2 border rounded-md"
                                [ngClass]="{'border-red-500': nameField?.invalid && nameField?.touched}">
                            <div *ngIf="nameField?.invalid && nameField?.touched" class="text-red-600 text-xs mt-1">
                                <span *ngIf="nameField?.errors?.['required']">El nombre es requerido</span>
                                <span *ngIf="nameField?.errors?.['minlength']">Mínimo 2 caracteres</span>
                            </div>
                        </div>

                        <!-- Apellido -->
                        <div class="form-group">
                            <label class="block text-sm font-bold mb-2" for="surname">Apellido</label>
                            <input type="text" formControlName="surname" placeholder="Tu Apellido*"
                                class="w-full p-2 border rounded-md"
                                [ngClass]="{'border-red-500': surnameField?.invalid && surnameField?.touched}">
                            <div *ngIf="surnameField?.invalid && surnameField?.touched"
                                class="text-red-600 text-xs mt-1">
                                <span *ngIf="surnameField?.errors?.['required']">El apellido es requerido</span>
                                <span *ngIf="surnameField?.errors?.['minlength']">Mínimo 2 caracteres</span>
                            </div>
                        </div>
                    </div>

                    <!-- Email -->
                    <div class="form-group mb-4">
                        <label class="block text-sm font-bold mb-2" for="email">Correo de Trabajo</label>
                        <input type="email" formControlName="email" placeholder="Tu correo del trabajo*"
                            class="w-full p-2 border rounded-md"
                            [ngClass]="{'border-red-500': emailField?.invalid && emailField?.touched}">
                        <div *ngIf="emailField?.invalid && emailField?.touched" class="text-red-600 text-xs mt-1">
                            <span *ngIf="emailField?.errors?.['required']">El email es requerido</span>
                            <span *ngIf="emailField?.errors?.['email']">Ingrese un email válido</span>
                        </div>
                    </div>
                    <!-- Campo de teléfono -->
                    <div class="form-group mb-4">
                        <label for="phone" class="block text-sm font-medium text-gray-700">
                            Teléfono móvil*
                        </label>
                        <div class="mt-1 flex rounded-md shadow-sm">
                            <span
                                class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500">
                                +56
                            </span>
                            <input type="tel" id="phone" formControlName="phone" (input)="formatPhone($event)"
                                placeholder="912345678"
                                class="flex-1 min-w-0 block w-full px-3 py-2 rounded-none rounded-r-md border border-gray-300 focus:ring-indigo-500 focus:border-indigo-500"
                                [ngClass]="{'border-red-500': phoneField?.invalid && phoneField?.touched}">
                        </div>
                        <div *ngIf="phoneField?.invalid && phoneField?.touched" class="text-red-600 text-xs mt-1">
                            <span *ngIf="phoneField?.errors?.['required']">El teléfono es requerido</span>
                            <span *ngIf="phoneField?.errors?.['pattern']">Ingrese un número válido (9 dígitos comenzando
                                con
                                9)</span>
                            <span *ngIf="phoneField?.errors?.['minlength'] || phoneField?.errors?.['maxlength']">
                                El número debe tener 9 dígitos
                            </span>
                        </div>
                    </div>

                    <!-- Campo de región -->
                    <div class="form-group mb-4">
                        <label for="region" class="block text-sm font-medium text-gray-700">
                            Región*
                        </label>
                        <select id="region" formControlName="region"
                            class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:ring-indigo-500"
                            [ngClass]="{'border-red-500': regionField?.invalid && regionField?.touched}">
                            <option value="">Selecciona una región</option>
                            <option value="metropolitana">Región Metropolitana</option>
                            <!-- Aquí puedes agregar el resto de las regiones -->
                        </select>
                        <div *ngIf="regionField?.invalid && regionField?.touched" class="text-red-600 text-xs mt-1">
                            <span *ngIf="regionField?.errors?.['required']">La región es requerida</span>
                        </div>
                    </div>

                    <!-- Empresa -->
                    <div class="form-group mb-4">
                        <label class="block text-sm font-bold mb-2" for="company">¿Cuál es tu Pyme?</label>
                        <input type="text" formControlName="company" placeholder="Pyme en la que trabajas*"
                            class="w-full p-2 border rounded-md"
                            [ngClass]="{'border-red-500': companyField?.invalid && companyField?.touched}">
                        <div *ngIf="companyField?.invalid && companyField?.touched" class="text-red-600 text-xs mt-1">
                            <span *ngIf="companyField?.errors?.['required']">La empresa es requerida</span>
                        </div>
                    </div>

                    <!-- Grid de empleados y área -->
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
                        <!-- Número de empleados -->
                        <div class="form-group">
                            <label class="block text-sm font-bold mb-2" for="employees">¿Cuántos colaboradores hay en tu
                                Pyme?</label>
                            <input type="number" formControlName="employees" placeholder="¿Cuántos colaboradores hay?*"
                                class="w-full p-2 border rounded-md"
                                [ngClass]="{'border-red-500': employeesField?.invalid && employeesField?.touched}">
                            <div *ngIf="employeesField?.invalid && employeesField?.touched"
                                class="text-red-600 text-xs mt-1">
                                <span *ngIf="employeesField?.errors?.['required']">Campo requerido</span>
                                <span *ngIf="employeesField?.errors?.['min']">Mínimo 1 empleado</span>
                            </div>
                        </div>

                        <!-- Área -->
                        <div class="form-group">
                            <label class="block text-sm font-bold mb-2" for="area">Área que desempeña tu Pyme</label>
                            <select formControlName="area" class="w-full p-2 border rounded-md"
                                [ngClass]="{'border-red-500': areaField?.invalid && areaField?.touched}">
                                <option value="" disabled selected>Selecciona un área</option>
                                <option value="RRHH">Recursos Humanos</option>
                                <option value="Finanzas">Finanzas</option>
                                <option value="Marketing">Marketing</option>
                                <option value="Ventas">Ventas</option>
                                <option value="Operaciones">Operaciones</option>
                                <option value="Logística">Logística</option>
                                <option value="Producción">Producción</option>
                                <option value="Tecnología">Tecnología</option>
                                <option value="Calidad">Calidad</option>
                                <option value="Atención al Cliente">Atención al Cliente</option>
                                <option value="Compras">Compras</option>
                                <option value="Legal">Legal</option>
                                <option value="Administración">Administración</option>
                                <option value="Innovación">Innovación</option>
                                <option value="Desarrollo de Negocios">Desarrollo de Negocios</option>
                                <option value="Comunicaciones">Comunicaciones</option>
                                <option value="Gestión de Proyectos">Gestión de Proyectos</option>
                                <option value="Sistemas de Información">Sistemas de Información</option>
                                <!-- Otras opciones -->
                            </select>
                            <div *ngIf="areaField?.invalid && areaField?.touched" class="text-red-600 text-xs mt-1">
                                <span *ngIf="areaField?.errors?.['required']">Seleccione un área</span>
                            </div>
                        </div>
                    </div>

                    <!-- Botón de envío -->
                    <div class="mt-6">
                        <button type="submit" [disabled]="contactForm.invalid || isLoading"
                            class="w-full bg-gradient-to-r from-indigo-400 to-indigo-700 text-white p-3 rounded-lg text-center font-semibold relative"
                            [ngClass]="{
                            'opacity-50 cursor-not-allowed': contactForm.invalid || isLoading,
                            'bg-green-500': submitStatus === 'success',
                            'bg-red-500': submitStatus === 'error'
                        }">
                            <span *ngIf="submitStatus === 'idle'">
                                {{ contactForm.invalid ? 'Complete todos los campos' : 'Continuar' }}
                            </span>
                            <span *ngIf="submitStatus === 'loading'" class="flex justify-center">
                                <svg class="animate-spin h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 24 24">
                                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor"
                                        stroke-width="4"></circle>
                                    <path class="opacity-75" fill="currentColor"
                                        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                                    </path>
                                </svg>
                            </span>
                            <span *ngIf="submitStatus === 'success'">¡Enviado con éxito!</span>
                            <span *ngIf="submitStatus === 'error'">Error al enviar</span>
                        </button>

                        <!-- Mensajes de estado -->
                        <div class="mt-2 text-center text-sm">
                            <p *ngIf="submitStatus === 'success'" class="text-green-600">
                                Tu información se ha enviado correctamente.
                            </p>
                            <p *ngIf="submitStatus === 'error'" class="text-red-600">
                                Hubo un error al enviar la información. Por favor, intenta nuevamente.
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>