// src/app/dashboard/features/blog/blog-create/blog-create.component.scss
:host {
  display: block;
  background-color: #f5f7fa;
  min-height: 100vh;
}

.container {
  @apply py-8;

  @media (max-width: 768px) {
    @apply py-4;
  }
}

// Animaciones para los inputs
input,
textarea {
  @apply transition-all duration-200;

  &:focus {
    @apply transform scale-[1.01];
  }
}

// Estilo para el editor
::ng-deep {
  .tox-tinymce {
    border-radius: 0.5rem !important;
  }
}

// Estilo para el dropzone
ngx-dropzone {
  @apply transition-all duration-300;

  &:hover {
    @apply border-[#5A4FCF];
  }
}

// Animación para el botón de submit
button {
  @apply transform transition-all duration-300;

  &:hover:not(:disabled) {
    @apply -translate-y-0.5;
  }

  &:active:not(:disabled) {
    @apply translate-y-0;
  }
}

.mat-chip-grid {
  width: 100%;
  margin-top: 0.5rem;
}
