<div class="min-h-screen bg-gray-50/50">
  <!-- Sidebar -->
  <app-sidebar class="hidden md:flex"></app-sidebar>

  <div class="p-4 xl:ml-80">
    <!-- Topbar -->
    <nav class="block w-full max-w-full bg-transparent text-white shadow-none rounded-xl transition-all px-0 py-1">
      <app-topbar></app-topbar>
    </nav>
    <!-- Main content -->
    <main class="flex-1 overflow-x-hidden overflow-y-auto bg-white-100">
      <div class="mt-12">
        <app-main-content></app-main-content>
      </div>
    </main>
  </div>
</div>